<div class="container">
  <h1>movies#index</h1>
  <div class="row">
    <div class="col-12">
      <h2>Movies list</h2>
      <% @movies.each do |movie| %>
        <%# if policy(nomimovie).index? %>
        <ul>
          <li><img src="<%= movie.image_url %>" alt="poster"></li>
          <li><%= movie.title %></li>
          <li><%= movie.year %></li>
        </ul>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>